h1 {
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
  }

  i.far:hover {
    color: red;
  }

  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

  }
  